
DATABASE_URL=""
JWT_SECRET="" # Command to generate:- openssl rand -hex 16
MAX_WRONG_ATTEMPTS=5
MAX_WRONG_ATTEMPTS_TIME_FRAME=60 # in seconds
JWT_EXPIRY_TIME='1d' # 1 day
PORT=3333
SMTP_SERVER="smtp.gmail.com"
SMTP_PORT_SSL=465
SMTP_PORT_TLS=587
SMTP_USER="dawood.zafargeekybugs@gmail.com"
SMTP_PASSWORD=""
FROM="dawood.zafargeekybugs@gmail.com"
SMTP_ALLOW_INVALID_TLS=false #This keeps secure TLS verification enabled by default while still allowing local/testing environments with self-signed certificates when explicitly required.
SUPABASE_URL=https://yaguvxfeijlrxosdhbhr.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlhZ3V2eGZlaWpscnhvc2RoYmhyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ4MTI4MCwiZXhwIjoyMDk0MDU3MjgwfQ.v7MnTEqH3Yk2JCwCDNPWxC6IBnC7ZN9J7JoH543lqb0
MAX_FILE_SIZE=10485760 # 10MB in bytes
SUPABASE_BUCKET=images
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
STRIPE_CURRENCY=usd